name: CI Pattern Check

on:
  workflow_dispatch:
    inputs:
      run_pattern_check:
        description: "Run only the pattern check"
        required: true
        default: "true"
  workflow_call:

permissions:
  packages: read

jobs:
  pattern_check:
    name: Pre-build Pattern Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone PatternV
        run: git clone --depth 1 https://github.com/DaniGP17/PatternV.git

      - name: Build PatternV
        run: |
          cd PatternV
          mkdir build && cd build
          cmake ..
          make -j$(nproc)

      - name: Download .text files
        run: |
          BASE_URL="https://raw.githubusercontent.com/DaniGP17/fivem/feat/ci-pattern-check/builds"
          BUILDS=(1604 2060 2189 2372 2545 2612 2699 2802 2944 3095 3258 3323 3407 3570)
          
          mkdir -p Release/Builds
          cd Release/Builds
          
          for build in "${BUILDS[@]}"; do
            FILE="GTA5-${build}.text"
            echo "Descargando $FILE..."
            curl -L -o "$FILE" "$BASE_URL/$FILE"
          done

      - name: Run PatternV
        run: |
          ./PatternV/build/PatternV Release/Builds "4C 8D 9C 24 ? ? ? ? 49 8B 5B ? 49 8B 73 ? 41 0F 28 73 ? 41 0F 28 7B ? 45 0F 28 43 ? 49 8B E3 41 5E 41 5D"